<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paulo.fiscalizabr">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_fiscalizabr"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetalharConvenio"
            android:label="@string/title_activity_detalhar_convenio"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paulo.fiscalizabr.MainActivity" />
        </activity>
        <activity
            android:name=".PesquisarConvenio"
            android:label="@string/title_activity_pesquisar_convenio"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paulo.fiscalizabr.MainActivity" />
        </activity>
        <activity
            android:name=".AlterarLocalizacao"
            android:label="@string/title_activity_alterar_localizacao"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paulo.fiscalizabr.MainActivity" />
        </activity>
        <activity
            android:name=".AlterarPreferencias"
            android:label="@string/editar_localizacao"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paulo.fiscalizabr.MainActivity" />
        </activity>
        <activity
            android:name=".ConveniosPesquisaDetalhada"
            android:label="@string/title_activity_convenios_pesquisa_detalhada"
            android:parentActivityName=".PesquisarConvenio"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.paulo.fiscalizabr.PesquisarConvenio" />
        </activity>
    </application>

</manifest>
